* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

header {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ce0033;
}

.header-leftside, .header-rightside{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-rightside a{
    display: flex;
    align-items: center;
}

.header-rightside span {
    font-size: 30px;
}

.header-leftside a, .header-rightside a {
    text-decoration: none;
    color: white;
}

header img {
    width: 80px;
    height: auto;
}

hr {
    margin-bottom: 20px;
}

.body {
    padding: 20px;
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.body-sec1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

.body-sec1 h1 {
    font-size: 35px;
    color: #ce0033;
}

.body-sec1 span {
    font-size: 30px;
}

tr, td {
    text-align: center;
    padding: 10px 50px;
}

tr:first-child {
    height: 60px;
}

tr {
    border: 1px gray solid;
}

table {
    border-collapse: collapse;
    border: 1px gray solid;
}

.body-sec2 {
    padding-bottom: 50px;
}

i {
    font-size: 25px;
}

.tab-f {
    background-color: rgb(230, 230, 230);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ce0033;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Style for the dialog */
.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dialog-box, .dialog-box-modify {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    display: none;
}

/* dialog css */
.dialog-box, .dialog-box-difficulte {
    width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 25px;
}

input[type="radio"],
textarea {
    margin-bottom: 15px;
    margin-right: 10px;
}

input[type="submit"],
button {
    padding: 10px 50px;
    background-color: #ce0033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* overlay */
.dialog-box-difficulte, .dialog-box-modify-difficulte {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    display: none;
}

/* diff style */

.dif-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-box-difficulte h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.dialog-box-difficulte table {
    width: 100%;
}

.dialog-box-difficulte table td {
    padding: 8px 0;
}

.dialog-box-difficulte table td p {
    margin: 0;
    font-size: 16px;
}

.dialog-box-difficulte button {
    padding: 10px 40px;
    background-color: #ce0033;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#diff-titles {
    width: 200px;
}
.dialog-box-difficulte td:first-child {
    background-color: #dedbdb;
}

.dialog-box-difficulte td {
    text-align: left;
}

.dialog-box-difficulte {
    width: 50%;
}

#msg-error,
#msg-error-intervention,
#msg-error-pairs {
    font-size: small;
    color: red;
}

.dialog-box-difficulte td:first-child {
    background-color: #dedbdb;
    width: 30%;
}
.dialog-box-difficulte td:last-child {
    width: 70%;
}

/* responsive */
@media only screen and (max-width: 768px) {
    .body {
        width: 90%; 
    }
    
    .body-sec2 {
        width: 95%; 
    }
    
    table {
        width: 100%; 
        font-size: 14px;
    }
    
    tr,
    td {
        padding: 5px;
    }
    
    .dialog-box,
    .dialog-box-modify,
    .dialog-box-difficulte {
        width: 90%; 
    }
    
    .dialog-box td,
    .dialog-box-modify td,
    .dialog-box-difficulte td {
        padding: 5px; 
    }
    
    .dialog-box h1,
    .dialog-box-modify h1 {
        font-size: 1.3em; 
    }
    
    input[type="submit"],
    button {
        padding: 8px 30px;
        font-size: 14px;
    }
    
    .dialog-box-difficulte button {
        padding: 8px 30px;
        font-size: 14px;
    }    
    .dif-container td {
        padding: 3px;
    }
    
    #close-diff {
        width: 100%;
    }
}
